<section class="flex my-6 max-w-xl mx-auto min-w-440px">
<div class="flex items-center gap-20 mx-auto">
  <a
    class="button_menu bg-green-600 shadow-xl/20"
    [routerLink]="['/nuevo-contacto']"
    routerLinkActive="router-link-active"
    >NUEVO</a
  >
  <a
    class="button_menu bg-blue-600 shadow-xl/20"
    [routerLink]="['/buscar']"
    routerLinkActive="router-link-active"
    >BUSCAR</a
  >
  <a
    class="button_menu bg-red-600 shadow-xl/20"
    [routerLink]="['/mostrar']"
    routerLinkActive="router-link-active"
    >MOSTRAR</a
  >
</div>
</section>
  <router-outlet> </router-outlet>

