<section class="flex my-6 max-w-xl mx-auto min-w-440px">
<div class="flex items-center gap-10 mx-auto">
  <a
    class="px-2 py-3 rounded-xl bg-green-600 text-white text-xs shadow-xl"
    [routerLink]="['/nuevo-contacto']"
    routerLinkActive="router-link-active"
    >NUEVO CONTACTO</a
  >
  <a
    class="px-2 py-3 rounded-xl bg-blue-600 text-white text-xs shadow-xl"
    [routerLink]="['/buscar']"
    routerLinkActive="router-link-active"
    >BUSCAR CONTACTO</a
  >
  <a
    class="px-2 py-3 rounded-xl bg-red-600 text-white text-xs shadow-xl"
    [routerLink]="['/mostrar']"
    routerLinkActive="router-link-active"
    >MOSTRAR CONTACTOS</a
  >
</div>
</section>
  <router-outlet> </router-outlet>

